<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pronix.hms">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MenuActiivty" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PatientList" />
        <activity
            android:name=".PatientDetails"
            android:theme="@style/AppTheme.Detail" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MedicalHistoryActivity" />
        <activity android:name=".Prescription" />
        <activity android:name=".Intervention" />
        <activity android:name=".MedicalHistoryTabs" />
        <activity android:name=".ImpCasesActivity" />
        <activity android:name=".Appointments" />
        <activity android:name=".InpatientPatientDetails" />
        <activity android:name=".InpatientList" />
        <activity android:name=".DailyTreatment" />
        <activity android:name=".Prerequisites"></activity>
    </application>

</manifest>